body {
    font-family: 'Cagliostro', Courier New;
}

#border {
    border: 0px solid red;
    height: 200px;
    width: 100%;
}

textarea {
    font-family: 'Cagliostro',Courier New;
    height: 100%;
    width: 100%;
    
}

