language: node_js
node_js:
  - '6.11.0'
branches:
  only:
  - master
script: yarn build
deploy:
  provider: s3
  skip_cleanup: true
  access_key_id: $ACCESS_KEY_ID
  secret_access_key:
    secure: WfWoAWzOpISW88V0ym6qCtw8wG4w8ej/owS8ai7SbeGj1PeCD9CNRRGMzjH4oUq0dPBJWJEAPAWjTLDRelX/ekO1+KaHaR88qqwBuvM0Jp+UO5n9U5ArMCgHrOsA1Y67fMY+qwgibyV199rZNou9XXtg6PYKLcoe1ZEFZl3Tf3k=
  bucket: deepumohan.com
  region: eu-west-1
  local-dir: build/
  upload-dir: "/projects/word-count-plus/"
  on:
    repo: WarFox/word-count
env:
  global:
    secure: cpu8tRYNXwWqpXUBM6oqs4rBSuk8bMEEVGnQf7XvTYfkNm3qoYxpwxlVg6n2YJzvHx/e3VF5jV3XOSDJin2lJy/0sEMU7+0MjxLfaJEy+nFwTVafe90SutYjx6Kg9/fo51+/O8TUdc2I4n31pz8peuQyFkktHvWMUAMDwDr/H4Y=
